.button-radient {
    width: 218px;
    height: 50px;
    font-weight: 600;
    font-size: 14px;
    color: $background-color;
    background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    border-radius: 25px;
    border: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: 0.2s;
    cursor: pointer;

        &:hover {
            opacity: 0.8;
        }
}

/* Button position section*/

.wrapper__search__section--button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 86%;
    height: 72.38px;
    top: 602.3px;
    left: 32.51px;
    border-radius: 20px;
    background: $background-secondary-color;
    border: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.75px;
    padding-right: 12%;
    padding-left: 5%;
    margin-left: 7%;
    margin-right: 7%;
}


.wrapper_menu--button {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
}