.wrapper__search {
    display: flex;
    flex-direction: column;

    .wrapper__search-title {
        margin-left: 5%;
    }

    .wrapper__section {
        width: 100%;

        .wrapper__search__section {
            display: flex;
            justify-content: center;
            position: relative;
            margin-bottom: 30px;
    
            &--number {
                background-color: $button-color;
                border-radius: 50%;
                color: $background-color;
                font-weight: 700;
                font-size: 15px;
                width: 24px;
                height: 24px;
                gap: 0px;
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                top: 25px;
                left: 26px;
                transform: translateX(-50%);
                z-index: 1;
            }

            &--button i {
                color: #7E7E7E;
            }

            &--button .wrapper__search__section--button--violet {
                color: $button-color;
            }
        }
    }
}

@media (min-width: 1024px) {
    .wrapper__search {
        &-title {
            margin-left: 14%;
        }
        .wrapper__section {
            display: flex;
            justify-content: center;
            .wrapper__search__section  {
                width: 230px;
                &--button {
                    p {
                        font-size: 11px;
                    }
                }
            }
        }
    }
}

@media (min-width: 1140px) {
    .wrapper__search {
        .wrapper__section {
            .wrapper__search__section {
                width: 330px;

            }
        }
    }
}