.wrapper__search {
    width: 100%;

    .wrapper__search__section {
        display: flex;
        flex-direction: row;
        .wrapper__search__section--number {
            background-color: $button-color;
            border-radius: 50%;
            color: $background-color;
            font-weight: 700;
            font-size: 15px;
        }
    }
}