.wrapper__search {
    display: flex;
    flex-direction: column;

    .wrapper__search--title {
        margin-left: 5%;
    }

    .wrapper__section {
        width: 100%;

        .wrapper__search__section {
            display: flex;
            justify-content: center;
            position: relative;
            margin-bottom: 30px;
    
            &--number {
                background-color: $button-color;
                border-radius: 50%;
                color: $background-color;
                font-weight: 700;
                font-size: 15px;
                width: 24px;
                height: 24px;
                gap: 0px;
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                top: 25px;
                left: 14px;
                transform: translateX(-50%);
                z-index: 1;
            }

            &--button i {
                color: #7E7E7E;
            }

            &--button .wrapper__search__section--button--violet {
                color: $button-color;
            }
        }
    }
}

