footer {
    background: $background-footer-color;
    color: $background-color;
    padding: 22px;

    img {
        filter: invert(100%);
        padding-inline-start: 10px;
        width: 137.58px;
        height: 27px;
        opacity: 0px;
    }

    ul {
        list-style: none;
        padding-inline-start: 10px;
        font-size: 16px;
        font-weight: 500;
        line-height: 30.75px;

        i {
            margin-right: 10px;
        }
    }
}