header {
    width: 100%;
    display: flex;
    flex-direction: column;
    .header__position {
        display: flex;
        flex-direction: row;
        background: red;
    }
    .header__menu {
        background: $secondary-color;
    }
}