.main__palette {
    background-color: $background-secondary-color;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    position: relative;
    width: 100%;
    top: -45px;


    &-title {
        display: flex;
        justify-content: space-between;
        margin-left: 5%;

        &-text {
            font-family: 'Shrikhand', cursive;
            font-size: 24px;
        }

        &-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 10%;
        }
    }

    &-menu {
        
        &-heading {
            position: relative;
            margin-bottom: 20px;
            margin-top: 40px;
            &-text{
                margin-left: 5%;
                font-size: 16px;
                font-weight: 300;
                text-transform: uppercase;
                position: relative;
                z-index: 2;
            }

            &-border {
                position: absolute;
                bottom: -5px;
                width: 40px;
                height: 3px;
                background-color: $green-light-color;
                z-index: 1;
                margin-left: 5%;
            }
    }
    

        &-item {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        &-article {
            display: flex;
            height: 70px;
            justify-content: space-between;
            width: 90%;
            margin-right: 5%;
            margin-left: 5%;
            background: $background-color;
            border-radius: 15px;

            &-info {
                margin-left: 20px;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }

            &-title {
                    font-size: 15px;
                    font-weight: 500;
                    height: 30px;
                    margin-bottom: -10px;
            }

            &-description {
                font-size: 12px;
                font-weight: 300;
                height: 40%;
            }

            .main__palette-menu-container {
                display: flex;
                    &-price {
                        display: flex;
                        align-items: flex-end;
                        margin-right: 20px;
                        margin-bottom: 14px;
                        font-size: 15.04px;
                        font-weight: 700;
                        line-height: 17.63px;
                        
                    }
            
                    &-color {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-top-right-radius: 15px;
                        border-bottom-right-radius: 15px;
                        background-color: $green-light-color;
                        width: 0;
                        position: relative; 
                        height: 70px;
                        visibility: hidden;
                        transition: 0.2s ease-in;

                        i {
                            color: $background-color;
                            width: 20px;
                            height: 20px;
                            top: 24.97px;
                        }
                }
            }
        }
    }
}
.main__palette-menu-article:hover .main__palette-menu-container-color {
    visibility: visible;
    width: 59px;
}

@media (min-width: 376px) {
    
    // .main__palette-title-text {
    //     font-size:20px;
    // }
    .main__palette-menu-article {
        &-title {
            font-size: 18px;
        }
        &-description {
            font-size: 15px;
        }
    }
}

@media (min-width: 1024px) {

    #main__palette {

        display: flex;
        justify-content: center;

            .main__palette {
                width: 80%;

                &-title {
                    margin-left: 10%;
                    width: 80%;
                    display: flex;
                    justify-content: center;
                    gap: 20px;
                }

                &-menu {

                    &-item {
                        justify-content: center;
                    }
                    &-article {
                        width: 70%;
                        margin-left: 15%;
                    }
                }
            }
    }
}