$main-color: black;
$secondary-color: #F6F6F6;
$third-color: #EAEAEA;
$background-color: white;


/* Artefacts */
$button-color: #9356DC;
$greenLight-color: #99E2D0;
$green-color: #008766;
$blueLight-color: #89C8FA;
$blue-color: #003A68;
