$main-color: black;
$secondary-color: #F6F6F6;
$third-color: #EAEAEA;
$background-color: white;
$background-secondary-color: #F6F6F6;
$background-footer-color: #353535;


/* Artefacts */
$button-color: #9356DC;
$green-light-color: #99E2D0;
$green-color: #008766;
$blue-light-color: #89C8FA;
$blue-color: #003A68;
